@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

div.event-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px;
}

div.event-error {
  border: 1px solid rgba(0, 0, 0, 0.20);
  font-size: 18px;
  padding: 15px 30px;
  border-radius: 3px;
  filter: invert(100%);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 600px;
}

div.event {
  padding: 15px;
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid rgba(255, 255, 255, 0.10);
  border-radius: 3px;
  margin-top: 10px;
}

div.event .event-name{
  padding: 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  filter: invert(100%);
  font-size: 26px;
  font-weight: 700;
}

div.event .event-details{
  display: flex;
  justify-content: space-between;
  filter: invert(100%);
  width: 100%;
  max-width: 400px;
  align-items: center;
}

div.event .event-details .detail {
  display: flex;
  flex-direction: column;
}

div.event .event-details .detail label.detail-label{
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 0;
}

div.event .event-details a.event-link {
  padding: 10px;
  filter: invert(100%);
  border-radius: 3px;
  background-color: #e7e7e7;
  color:#141E24;
  text-transform: uppercase;
  font-weight: 900;
  transition: all .2s;
  display: flex;
  align-items: center;
  height: 40px;
  width: 160px;
  min-width: 160px;
  text-decoration: none;
}

div.event .event-details a.event-link:hover {
  background-color: #007bff;
  color: #fff;
}

div.event .event-details a.event-link:active {
  background-color: #0069db;
  margin-top: 5px;
}

div.event .event-details a.event-link span.event-link-text {
  padding-right: 10px;

}