@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

@media only screen and (max-width: 767px){
  ul.events-ul{
    height: 100%!important;
  }
}

div.event-wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 30px;
}

div.event-error {
  border: 1px solid #919191;
  font-size: 18px;
  padding: 15px 30px;
  border-radius: 3px;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 600px;
  color: #b1b1b1;
}

ul.events-ul{
  list-style-type: none;
  margin:0px;
  padding:0px;
  height: 90vh;
  overflow-y: auto;
}

li.event:first-child{margin-top:0px;}

li.event {
  padding: 15px;
  width: 100%;
  max-width: 600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  border: 1px solid rgba(255, 255, 255, 0.10);
  border-radius: 3px;
  margin-top: 10px;
  color: #f1f1f1;
}

li.event .event-name{
  padding: 5px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
}

li.event .event-details{
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 400px;
  align-items: center;
}

li.event .event-details .detail {
  display: flex;
  flex-direction: column;
}

li.event .event-details .detail label.detail-label{
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 0;
}

li.event .event-details a.event-link {
  padding: 10px;
  border-radius: 3px;
  background-color: #e7e7e7;
  color:#141E24;
  text-transform: uppercase;
  font-weight: 900;
  transition: all .2s;
  display: flex;
  align-items: center;
  height: 40px;
  min-width: 140px;
  text-decoration: none;
  justify-content: center;
}

li.event .event-details a.event-link:hover {
  background-color: #007bff;
  color: #fff;
}

li.event .event-details a.event-link:active {
  background-color: #0069db;
  margin-top: 5px;
}
